 <% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <h1><%= listing.title %></h1>
        <h3>Listing Details :</h3>
    </div>
</div>
<div class="card col-6 offset-2 show-card">
    <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
        <p class="card-text">
            Description : <%= listing.description %><br>
            Price : &#8377; <%= listing.price %><br>
            Location : <%= listing.location %><br>
            Country : <%= listing.country %><br>
            Type : <%= listing.type %><br>
            Guests : <%= listing.guests %><br>
            Bedrooms : <%= listing.bedrooms %><br>
            Rating : <%= listing.rating %><br>
            <% if(listing.fee){ %>
                Cleaning Fee : &#8377; <%= listing.fee.cleaning %><br>
                Service Fee : &#8377; <%= listing.fee.service %><br>
            <% } %>
        </p>
    </div>
</div>
<br>
<div class="btns">
<a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2 edit-btn">Edit</a>
   <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
<button class="btn btn-dark offset-4">Delete</button></form>
</div>
</div>