<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWA(Explore with Amit)</title>
</head>
<body>
    <h3>Linsting Details :</h3>

    <ul>
    <li><%= listing.title %></li>
    <!-- Description field is commented out intentionally for development or debugging purposes.
         Uncomment the line below to display the listing description. -->
    <!-- <li><%= listing.description %></li> -->
    <li>&#8377; <%= listing.price %></li>
    <li><%= listing.location %></li>
    <li><%= listing.country %></li>
    <!-- <li><%= listing.type %> </li>
        <li><%= listing.guests %> </li>
        <li><%= listing.bedrooms  %> </li> -->
        

    </ul>
</body>
</html>