<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWA(Explore with Amit)</title>
</head>
<body>
    <h3>Linsting Details :</h3>

    <ul>
    <li>Title : <%= listing.title %></li>
    <!-- Description field is commented out intentionally for development or debugging purposes.
         Uncomment the line below to display the listing description. -->
    <li>Description : <%= listing.description %></li>
    <li>Price : &#8377; <%= listing.price %></li>
    <li>Location : <%= listing.location %></li>
    <li>Country : <%= listing.country %></li>
    <li>Type : <%= listing.type %></li>
    <li>Guests : <%= listing.guests %></li>
    <li>Bedrooms : <%= listing.bedrooms %></li>
    <li>Rating: <%= listing.rating %></li>
    <li>Cleaning Fee: &#8377; <%= listing.fee.cleaning %></li>
    <li>Service Fee: &#8377; <%= listing.fee.service %></li>
    
    
    </ul>
    <br>
   <a href="/listings/<%= listing._id %>/edit">
    Edit This Listing
    </a>
</body>
</html>